<div class="row" style="padding-top: 15px">

	<div class="col-lg-4">
		<div class="card" ng-click="peticiones()" style="background-color: #4e8bed; cursor:pointer;">
		  <img style="width: 40%; padding-top: 10px" class="rounded mx-auto d-block card-img-top img-fluid" src="public/img/icons/questionary.png" alt="Card image cap">
		  <div class="card-body">
		    <h1 style="color: white; text-align: center; font-size: 200%"  class="card-title">Peticiones</h1>
		  </div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="card" ng-click="servicios_basicos()" style="background-color: #66e86a; cursor:pointer">
		  <img style="width: 40%; padding-top: 10px" class="rounded mx-auto d-block card-img-top img-fluid" src="public/img/icons/servicios-basicos.png" alt="Card image cap">
		  <div class="card-body">
		    <h1 style="color: white; text-align: center; font-size: 200%" class="card-title">Servicios Básicos</h1>
		  </div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="card" ng-click="actividades()" style="background-color: #e8a266; cursor:pointer">
		  <img style="width: 40%; padding-top: 10px" class="rounded mx-auto d-block card-img-top img-fluid" src="public/img/icons/list.png" alt="Card image cap">
		  <div class="card-body">
		    <h1 style="color: white; text-align: center; font-size: 200%" class="card-title">Actividades</h1>
		  </div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="card" ng-click="albergues()" style="background-color: #4eb2a3; cursor:pointer">
		  <img style="width: 40%; padding-top: 10px" class="rounded mx-auto d-block card-img-top img-fluid" src="public/img/icons/hotel.png" alt="Card image cap">
		  <div class="card-body">
		    <h1 style="color: white; text-align: center; font-size: 200%" class="card-title">Albergues</h1>
		  </div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="card" ng-click="damages()" style="background-color: #db4646; cursor:pointer">
		  <img style="width: 40%; padding-top: 10px" class="rounded mx-auto d-block card-img-top img-fluid" src="public/img/icons/ruin.png" alt="Card image cap">
		  <div class="card-body">
		    <h1 style="color: white; text-align: center; font-size: 200%" class="card-title">Daños</h1>
		  </div>
		</div>
	</div>

</div>
